
form {
    background-color: rgb(0, 255, 238);
}

body{
    background-color: aqua;
}

.for{
    margin-top:;
    
}

legend{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

